version: 1.0.{build}
skip_tags: true
build:
  publish_nuget: true
  verbosity: minimal
environment:
  Test.Path: C:\projects\html2markdown\test\Html2Markdown.Test\Files\
deploy:
- provider: NuGet
  api_key:
    secure: mqfd5QXj3a2N+D2EP9avxupQJRBJFEKT9kjF7Tipl1OCkUvPBsKjfiZMQHpnwVKq
  on:
    branch: master