name: Deploy HotFix Branch

on:
  pull_request:
    types: [opened, synchronize]
    branches:
      - master
  workflow_dispatch:

jobs:
  get-version:
    if: startsWith(github.head_ref, 'hotfix/')
    uses: ./.github/workflows/step-version.yml
  
  build:
    needs: [get-version]
    uses: ./.github/workflows/step-build.yml
    with:
      version: ${{ needs.get-version.outputs.version }}
      checkout-ref: ${{ github.head_ref }}
  
  check-markdown:
    needs: [get-version]
    uses: ./.github/workflows/step-check-markdown.yml
    
  update-metadata:
    if: github.event.action == 'opened'
    needs: [get-version]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          ref: ${{ github.head_ref }}
      - name: Increment Version
        id: increment_version
        run: |
          echo "patch_version=$(($(cat semver.json | jq -r '.patch')+1))" > $GITHUB_OUTPUT
      - name: Store New Version
        uses: Afterlife-Guide/SemVer.Action@288a02559813fbd67393b5bd001cd796f1665905 # 1.3.0.15
        with:
          path: semver.json
          major-version: ${{ needs.get-version.outputs.major }}
          minor-version: ${{ needs.get-version.outputs.minor }}
          patch-version: ${{ steps.increment_version.outputs.patch_version }}
          build-version: ${{ github.run_number }}
      - name: Update changelog
        uses: thomaseizinger/keep-a-changelog-new-release@f62c3c390716df5af712ba5d94f4f4a8efc1306d # 3.1.0
        with:
          tag: ${{ needs.get-version.outputs.major }}.${{ needs.get-version.outputs.minor }}.${{ steps.increment_version.outputs.patch_version }}.${{ github.run_number }}
      - name: Commit Changes
        run: |
          git config --global user.name "GitHub Action Bot"
          git config --global user.email "no-reply@after-life.co"
          git add CHANGELOG.md semver.json
          git commit --message "Bump Version to ${{ needs.get-version.outputs.major }}.${{ needs.get-version.outputs.minor }}.${{ steps.increment_version.outputs.patch_version }}.${{ github.run_number }}"

      - name: Push Version
        env:
          GITHUB_HEAD_REF: ${{ github.head_ref }}
        run: git push origin $GITHUB_HEAD_REF