name: Push Documentation

on:
  push:
    branches:
      - master
  workflow_dispatch: 
    

jobs:
  push-documentation:
    runs-on: ubuntu-latest
    environment: github-pages
    steps:
      - uses: DenverCoder1/doxygen-github-pages-action@a30f9538f8ef1305aeceb563018f452c7a62d200 # v2.0.0
        with:
          github_token: ${{ secrets.PUBLISH_DOCS_TOKEN }}
          branch: gh-pages
          config_file: doxygen.config
          doxygen_version: 1.9.6