on:
  workflow_call:

jobs:
    check-markdown:
        runs-on: ubuntu-latest
        steps:
          - name: markdownlint-cli
            uses: nosborn/github-action-markdown-cli@f5d8cad27b5690b173425c45f762f8662ecf47e8 # v3.3.0
            with:
              files: .
              config_file: .markdownlint.json
