on:
  workflow_call:

jobs:
    check-markdown:
        runs-on: ubuntu-latest
        steps:
          - name: markdownlint-cli
            uses: nosborn/github-action-markdown-cli@9b5e871c11cc0649c5ac2526af22e23525fa344d # v3.3.0
            with:
              files: .
              config_file: .markdownlint.json
