on:
  workflow_call:
    inputs:
      version:
        required: true
        description: 'Version to deploy'
        type: string
  
jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5
      - name: Create tag
        env:
          VERSION: ${{ inputs.version }}
        run: |
          git config --global user.name "GitHub Action Bot"
          git config --global user.email "no-reply@after-life.co"
          git tag -a $VERSION -m "Version $VERSION created via GitHub Actions"
          git push origin $VERSION